<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Thank you for signing up for the pickup! If you have any questions or concerns, please let us know.

      -snackOverflow team
    </p>
  </body>
</html>