<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %></h2>


<%= render @restaurant.pickups %>

<div id="calendar">
<%= link_to "Request Contact", sendrequest_restaurant_path(current_user, @restaurant), class: "btn btn-primary" %>
</div>

