<div class="wrapper">
    <div class= "bg-colored text-center">
    <div class="container">
    <div class="span12">
    <h1><%= @restaurant.name %></h1>
    <%= link_to "Go back", restaurants_path %>
    </div>
    </div>
    </div> 
    </div>

    <div class="container">
    <div class="span12">
<h2><%= @restaurant.address %></h2>

<%= render @restaurant.pickups %>
</div>
</div>
</div>
